<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>aso.web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>py.edu.ucsa.aso.web.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
    <url-pattern>/login-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerUsuario</display-name>
    <servlet-name>VerUsuario</servlet-name>
    <servlet-class>py.edu.ucsa.aso.web.servlets.VerUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerUsuario</servlet-name>
    <url-pattern>/VerUsuario</url-pattern>
    <url-pattern>/ver-usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProbarCookie</display-name>
    <servlet-name>ProbarCookie</servlet-name>
    <servlet-class>py.edu.ucsa.aso.web.servlets.ProbarCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProbarCookie</servlet-name>
    <url-pattern>/ProbarCookie</url-pattern>
    <url-pattern>/probar-cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeerCookie</display-name>
    <servlet-name>LeerCookie</servlet-name>
    <servlet-class>py.edu.ucsa.aso.web.servlets.LeerCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeerCookie</servlet-name>
    <url-pattern>/LeerCookie</url-pattern>
    <url-pattern>/leer-cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesion</display-name>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>py.edu.ucsa.aso.web.servlets.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
    <url-pattern>/cerrar-sesion</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>OpcionesServlet</display-name>
    <servlet-name>OpcionesServlet</servlet-name>
    <servlet-class>py.edu.ucsa.aso.web.servlets.OpcionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpcionesServlet</servlet-name>
    <url-pattern>/OpcionesServlet</url-pattern>
    <url-pattern>/opcion-servlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>py.edu.ucsa.aso.web.filtros.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/AuthFilter</url-pattern>
  </filter-mapping>
</web-app>